<a href="/about">Go to About Page</a>

app.get('/', (req, res) => res.render('home')); app.get('/about', (req, res) =>
res.render('about'));

<form action="/submit" method="POST">
  <input type="text" name="name" placeholder="Enter Your Name" />
  <button type="submit">Submit</button>
</form>

app.post('/submit', (req, res) => { console.log(req.body.name); res.send('Form
Submitted!') }); app.get('/user/:id' (req, res) => { res.send(`User ID:
${req.params.id}`) });
