<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to Randi's Home(page)</h1>
    <a href="/about">Go Check Out My About Page!</a>
    <form action="/submit" method="POST">
      <input type="text" name=" placeholder="Enter Your Given Name Right Here">
      <button type="submit">Push The Button</button>
    </form>
    <img src="/hoodoopictures.jpg" alt="HooDoo Things" />
    <button onclick="location.href= '/download'">Download</button>
  </body>
</html>
